.header {
    height: 95vh;
    background-image: 
    linear-gradient(to right bottom, rgba($secondary-light, .7), rgba($secondary, .7)), 
    url('/images/homeimage.png');
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}