.header {
  height: 95vh;
  background-image:
    linear-gradient(
      to right bottom,
      rgba($primary, 0.7),
      rgba($secondary, 0.7)
    ),
    url("/images/homeimage.png");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }
  &__logo {
    height: 7rem;
    box-shadow: 0 1.5rem 2 rem rgba($white, 0.8);
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
